<html>
  <head>
    <title>CAMERA TEST</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        background: #2d2f33;
        font-family: "Varela Round", "Ionicons";
      }
      ::selection {
        background: #3f8efc;
        color: #fff;
    </style>
  </head>
  <body>
    <div class="title">WORKER NODE SELECT</div>
    <!-- button design -->
    <a
      class="download"
      id="w1"
      href=""
      method="get"
      target="_tparen\"
    ></a>
    <br /><br />
    <a
      class="download"
      id="w2"
      href=""
      method="get"
      target="_top\"
    ></a>
  </body>
</html>
