<html>
    <head>
        <title>Dokcerfile and Deployment I/O</title>
    </head>
    <body>
        <script type="text/javascript">
            function openTextFile() {
                var input = document.createElement("input");
                input.type = "file";
                input.accept = "*"; // 확장자가 xxx, yyy 일때, ".xxx, .yyy"
                input.onchange = function (event) {
                    processFile(event.target.files[0]);
                };
                input.click();
            }
            function processFile(file) {
                var reader = new FileReader();
                reader.onload = function () {
                    output.innerText = reader.result;
                    alert(reader.result);
                };
                reader.readAsText(file, "UTF-8");
            }
        </script>
        <button onclick="openTextFile()">Open</button>
        <form action = "http://localhost:5000/saveDocker" method="POST"
        enctype="multipart/form-data">
            <p>Folder : 
                <input type="radio" name="folder" value="manager" checked> manager 
                <input type="radio" name="folder" value="viewer" > viewer
            </p>

            <p>Type : 
                <input type="radio" name="type" value="dockerfile" checked> Dockerfile 
                <input type="radio" name="type" value="deployment" > deployment
            </p>

            <p>File Name : <input type="text" name="docker_name" value=""></p>

            <p>Contents :</p>
            <p> <textarea cols="80" rows="35" name="docker" id="output"></textarea></p>
            
            <p><input type="submit" value="save"/></p>
        </form>

    </body>
</html>