<html>
  <head>
    <title>{{ worker_no }}</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <style>
      body {
        font-family: arial, verdana, sans-serif;
        font-size: 8px;
        background: #1e1e20;
        text-align: center;
      }
      img {
        max-width: 100%;
        height: auto;
      }
      .rounded-borders {
        height: 100%%;
        width: 100%%;
        border-color: #1a1a1a #262626;
        border-image: none;
        border-radius: 30px 0 30px 0;
        border-style: solid;
        border-width: 20px;
      }
    </style>
  </head>
  <body>
    <br /><br /><br /><br />
    <h1 style="font-size: 50px; color: grey">{{ cam_name }}</h1>
    <br /><br /><br />
    <div class="rounded-borders">
      <img src="{{ url_for('video_feed') }}" />
    </div>

    <script>
      $(document).ready(function () {
        setInterval("refresh()", 2000);
      });
      var gbl_data = "None";
      function refresh() {
        $.ajax({
          type: "GET",
          url: "/ajax_data",
          data: {},
          success: function (response) {
            let data = response["data"];
            console.log(data);
            if (data != gbl_data) {
              gbl_data = data;
              location.reload();
            }
          },
        });
      }

      $(window).unload(function () {
        closed();
      });

      function closed() {
        $.ajax({
          type: "GET",
          url: "/closed",
        });
      }

      $(function () {
        $.ajax({
          type: "GET",
          url: "/open",
        });
      });
    </script>
  </body>
</html>
