<html>
  <head>
    <title>Dokcer Login</title>
  </head>
  <body>
    <script type="text/javascript">
      function funcURL(f) {
        const funcURL = document.getElementById("funcURL");
        funcURL.action = "http://localhost:5000/" + f;
        //alert(funcURL.action)
      }
    </script>
    <h2>Docker login</h2>
    <hr />

    <form action="" method="POST" enctype="multipart/form-data" id="funcURL">
      <input type="text" name="docker_id" placeholder="Input your ID" />
      <input
        type="password"
        name="docker_pwd"
        placeholder="Input your Password"
      />
      <input
        type="submit"
        class="func"
        name="login"
        value="login"
        onclick="funcURL('login')"
      />
      <input
        type="submit"
        class="func"
        name="logout"
        value="logout"
        onclick="funcURL('logout')"
      />
    </form>
  </body>
</html>
