<html>
  <head>
    <title>Master Server</title>
  </head>
  <body>
    <h1 style="font-size: 50px; color: grey">Camera Controller</h1>
    <hr />
    Worker1
    <form action="http://localhost:5001" method="post">
      nodeport:<br />
      <input type="text" name="nodeport" value="5001" /><br />
      Camera NO:<br />
      <input type="text" name="cam_no" value="Camera" />
      <br /><br />
      <input type="submit" value="connect" />
      <input type="hidden" name="worker_no" value="Worker 1" />
    </form>
    <hr />
    Worker2
    <form action="http://localhost:5002" method="post">
      nodeport:<br />
      <input type="text" name="nodeport" value="5002" /><br />
      Camera NO:<br />
      <input type="text" name="cam_no" value="Camera" />
      <br /><br />
      <input type="submit" value="connect" />
      <input type="hidden" name="worker_no" value="Worker 2" />
    </form>
  </body>
</html>
