<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SELECT</title>
  </head>
  <body>
    <h1>Camera Manager</h1>
    <hr />
    <form action="http://0.0.0.0:5001" id="worker1" method="POST">
      Worker 1<br />
      <select name="url">
        <option selected>Select CAM</option>
        <option value="rtsp://keti:keti1234@192.168.100.70:8810/videoMain">
          CAM 1
        </option>
        <option value="rtsp://keti:keti1234@192.168.100.60:8805/videoMain">
          CAM 2
        </option>
        <option value="rtsp://keti:keti1234@192.168.100.60:8805/videoMain">
          CAM 3
        </option>
      </select>
      <input type="submit" value="Select" />
    </form>
    <br /><br />
    <form action="http://0.0.0.0:5002" id="worker2" method="POST">
      Worker 2<br />
      <select name="url">
        <option selected>Select CAM</option>
        <option value="rtsp://keti:keti1234@192.168.100.70:8810/videoMain">
          CAM 1
        </option>
        <option value="rtsp://keti:keti1234@192.168.100.60:8805/videoMain">
          CAM 2
        </option>
        <option value="rtsp://keti:keti1234@192.168.100.60:8805/videoMain">
          CAM 3
        </option>
      </select>
      <input type="submit" value="Select" />
    </form>
    <br /><br />
    <form action="http://0.0.0.0:5003" id="worker3" method="POST">
      Worker 3<br />
      <select name="url">
        <option selected>Select CAM</option>
        <option value="rtsp://keti:keti1234@192.168.100.70:8810/videoMain">
          CAM 1
        </option>
        <option value="rtsp://keti:keti1234@192.168.100.60:8805/videoMain">
          CAM 2
        </option>
        <option value="rtsp://keti:keti1234@192.168.100.60:8805/videoMain">
          CAM 3
        </option>
      </select>
      <input type="submit" value="Select" />
    </form>
  </body>
</html>
